<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Smart Terminal Web Application</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type=”image/x-ico”>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-ico">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src='{% static 'js/signalling.js' %}'></script>
</head>

<body class="login-page">
	<section class="h-100">
		<div class="container">
			<div class="row justify-content-md-center h-100">
                <div class="brand">
                    <img src="{% static 'img/logo.jpg' %}">
                </div>
                <div class="card fat">
                    <form method="POST">{% csrf_token %}
                        <div class="card-title">
                            <div style="display: table; width: 90%;">
                                <div style="display: table-cell;">
                                    <h2 class="text-left">Patient ID: {{ patientID }}, Interval Time: {{ interval }}(s)</h2>
                                    <input id="patientID" type="text" class="hidden" name="patientID" value={{ patientID }}>
                                    <input id="interval" type="text" class="hidden" name="interval" value={{ interval }}>
                                </div>
                                <div style="display: table-cell; text-align: right;">
                                    <input id="remainSeconds" type="text" class="hidden" name="remainSeconds" value={{ time }}>
                                    <div id="remainTime">
                                        <h2 class="text-left text-danger">Testing Time: {{ show_time }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <img for="form-elem-1" id="image" width="450px" height="300px" class="center-block" src="{% static 'img/left.jpg' %}"/>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div id="videoDiv" class="form-group">
                                    <video class="hidden" id="video"></video>
                                    <canvas class="canvas" id='canvas'></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="form-group no-margin">
                            <p align="center">
                                <button id="btn_check" type="button" class="btn btn-primary btn-lg">Check</button>
                                <button id="btn_start" type="button" class="btn btn-primary btn-lg">Start</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="footer">
                    Copyright &copy; 2018 &mdash; Team One
                </div>
			</div>
		</div>
	</section>
</body>
</html>